.border-radius-100 {
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}
.demo-col {
  background: #99690a;
}
/* typography */
.solid-profile-cards .heading-border-bottom-5 {
  border-bottom: 5px solid #99690a;
}
.solid-profile-cards blockquote {
  border-left: 6px solid #99690a;
}
.solid-profile-cards .heading-border-left-5 {
  border-left: 5px solid #99690a;
}
.solid-profile-cards .fa.fa-bars {
  color: #99690a;
}
.solid-profile-cards .text-callout {
  background: #99690a;
}
.solid-profile-cards .btn-default {
  background: #99690a;
  -webkit-box-shadow: 0 4px 0 0 #694807;
     -moz-box-shadow: 0 4px 0 0 #694807;
          box-shadow: 0 4px 0 0 #694807;
}
.solid-profile-cards .btn-default:hover {
  background: #8b5f09;
}
.solid-profile-cards .profile-card-design-1 .profile-card-header {
  background: #99690a;
}
.solid-profile-cards .profile-card-container ::-webkit-scrollbar-thumb {
  background: #99690a;
}
.solid-profile-cards .profile-card-design-1 .profile-card-body .profile-card-body-details .list-bars li .bars .percentage {
  background: #99690a;
}
.solid-profile-cards .profile-card-design-2 .profile-card-header,
.solid-profile-cards .profile-card-design-3 .profile-card-header {
  background: #99690a;
}
.solid-profile-cards .profile-card-design-4 .profile-card-container {
  border: 3px solid #99690a;
}
.solid-profile-cards .profile-card-design-5 .profile-card-container {
  border-top: 7px solid #99690a;
  border-bottom: 7px solid #99690a;
}
.solid-profile-cards .profile-card-design-10 .profile-card-body .profile-card-body-picture:after {
  background: #99690a;
}
.accordion-container > .accordion-level > label {
  background: #99690a;
  border-bottom: 1px solid #7c5508;
}
.solid-profile-cards .profile-card-design-9 .profile-card-container {
  background: #090601;
}
