.border-radius-100 {
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}
.demo-col {
  background: #d0380b;
}
/* typography */
.solid-profile-cards .heading-border-bottom-5 {
  border-bottom: 5px solid #d0380b;
}
.solid-profile-cards blockquote {
  border-left: 6px solid #d0380b;
}
.solid-profile-cards .heading-border-left-5 {
  border-left: 5px solid #d0380b;
}
.solid-profile-cards .fa.fa-bars {
  color: #d0380b;
}
.solid-profile-cards .text-callout {
  background: #d0380b;
}
.solid-profile-cards .btn-default {
  background: #d0380b;
  -webkit-box-shadow: 0 4px 0 0 #a02b08;
     -moz-box-shadow: 0 4px 0 0 #a02b08;
          box-shadow: 0 4px 0 0 #a02b08;
}
.solid-profile-cards .btn-default:hover {
  background: #c1340a;
}
.solid-profile-cards .profile-card-design-1 .profile-card-header {
  background: #d0380b;
}
.solid-profile-cards .profile-card-container ::-webkit-scrollbar-thumb {
  background: #d0380b;
}
.solid-profile-cards .profile-card-design-1 .profile-card-body .profile-card-body-details .list-bars li .bars .percentage {
  background: #d0380b;
}
.solid-profile-cards .profile-card-design-2 .profile-card-header,
.solid-profile-cards .profile-card-design-3 .profile-card-header {
  background: #d0380b;
}
.solid-profile-cards .profile-card-design-4 .profile-card-container {
  border: 3px solid #d0380b;
}
.solid-profile-cards .profile-card-design-5 .profile-card-container {
  border-top: 7px solid #d0380b;
  border-bottom: 7px solid #d0380b;
}
.solid-profile-cards .profile-card-design-10 .profile-card-body .profile-card-body-picture:after {
  background: #d0380b;
}
.accordion-container > .accordion-level > label {
  background: #d0380b;
  border-bottom: 1px solid #b33009;
}
.solid-profile-cards .profile-card-design-9 .profile-card-container {
  background: #3f1103;
}
